__pycache__
.ipynb_checkpoints
.DS_Store
gdsc/*
ccle/
data/
drugs/
results/
short_notebooks/
results_2/
GridSearch_results/
figures/
master_code/
master_code.zip
master_report.pdf
final_docs_in_original_formats/
